@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #979797;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @apply overflow-x-hidden h-full;
}

body {
  @apply h-full overflow-x-hidden bg-gradient-to-br from-green-100 to-emerald-200 font-inter;
}

h1 {
  @apply text-3xl tracking-tight text-green-500 font-bold;
}

h2 {
  @apply text-2xl tracking-tight text-green-500 font-bold;
}

h3 {
  @apply text-xl tracking-tight text-green-500 font-bold;
}

h4 {
  @apply text-lg tracking-tight text-green-500 font-bold;
}

h5 {
  @apply text-base tracking-tight text-green-500 font-bold;
}

h6 {
  @apply text-[16px] tracking-tight text-green-500 font-bold;
}

p {
  @apply text-[14px] font-medium text-pretty;
}

small {
  @apply text-[13px];
}

@media (min-width: 414px) {
  /*sm*/
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-[18px];
  }
  p {
    @apply text-[16px];
  }
  small {
    @apply text-[10px];
  }
}
@media (min-width: 768px) {
  /*md*/
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-sm;
  }
  p {
    @apply text-xs;
  }
  small {
    @apply text-[13px];
  }
}
@media (min-width: 1024px) {
  /*lg*/
  h6 {
    @apply text-base;
  }
  p {
    @apply text-xs;
  }
}
@media (min-width: 1280px) {
  /*xl*/
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-lg;
  }
  small {
    @apply text-[14px];
  }
}
@media (min-width: 1536px) {
  /*2xl*/
  h6 {
    @apply text-xl;
  }
  p {
    @apply text-sm;
  }
}

.btn {
  @apply font-bold text-base border-2 border-primary rounded-lg text-primary hover:shadow-lg;
}

.btn.btn-primary {
  @apply bg-green-500 text-[#D9F2E2] hover:border-green-500 hover:bg-[#D9F2E2] hover:text-green-500;
}

.btn.btn-outline {
  @apply bg-[#D9F2E2] hover:bg-green-500 hover:text-[#D9F2E2]  border-green-500;
}

.modal::backdrop {
  @apply bg-black opacity-70 fixed;
}

.nav-active {
  @apply underline underline-offset-[10px] decoration-2 xs:text-green-300 md:text-green-400;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #10b981 !important; /* emerald-500 */
  opacity: 0.5;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  background-color: #10b981 !important;
  opacity: 1;
}
