@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Peyda";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/PeydaWeb-SemiBold.woff2") format("opentype");
}

@font-face {
  font-family: "Peyda";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/PeydaWeb-Bold.woff2") format("opentype");
}

@font-face {
  font-family: "Peyda";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./assets/fonts/PeydaWeb-ExtraBold.woff2") format("opentype");
}

@font-face {
  font-family: "YekanBakh";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/YekanBakh-VF.woff2") format("opentype");
}

@font-face {
  font-family: "RokhFaNum";
  src: url("./assets/fonts/RokhFaNum-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @apply h-full overflow-x-hidden bg-green-50 font-yekan;
}

h1 {
  @apply text-[39px] tracking-normal text-black font-yekan font-extrabold;
}

h2 {
  @apply text-sm tracking-tight text-black font-yekan font-black;
}

h3 {
  @apply text-[22.4px] tracking-normal text-green-500 font-peyda font-bold;
}

h4 {
  @apply text-[19.6px] tracking-tight text-black font-yekan font-bold;
}

h5 {
  @apply text-[18.5px] tracking-normal text-black font-bold;
}

h6 {
  @apply text-[14px] tracking-normal text-green-100 font-peyda font-bold;
}

p {
  @apply text-[12.6px] font-semibold text-pretty;
}

label {
  @apply text-[14px] tracking-normal font-peyda font-bold;
}

small {
  @apply text-[7.9px] tracking-normal;
}

@media (min-width: 320px) {
  /*xxs*/
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-base;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-[18px];
  }
  p {
    @apply text-[16px];
  }
  label {
    @apply text-[15px];
  }
  small {
    @apply text-[10px];
  }
}
@media (min-width: 375px) {
  /*xs*/
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-base;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-[18px];
  }
  p {
    @apply text-[16px];
  }
  label {
    @apply text-[15px];
  }
  small {
    @apply text-[10px];
  }
}
@media (min-width: 550px) {
  /*sm*/
  h1 {
    @apply text-[44.8px];
  }
  h2 {
    @apply text-lg;
  }
  h3 {
    @apply text-[25.6px];
  }
  h4 {
    @apply text-[22.4px];
  }
  h5 {
    @apply text-[21.1px];
  }
  h6 {
    @apply text-[16px];
  }
  p {
    @apply text-[14.4px];
  }
  label {
    @apply text-[16px];
  }
  small {
    @apply text-[9.1px];
  }
}
@media (min-width: 768px) {
  /*md*/
  h1 {
    @apply text-[50.4px];
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-[28.8px];
  }
  h4 {
    @apply text-[25.2px];
  }
  h5 {
    @apply text-[23.8px];
  }
  h6 {
    @apply text-xs;
  }
  p {
    @apply text-[16.2px];
  }
  label {
    @apply text-xs;
  }
  small {
    @apply text-[10.2px];
  }
}
@media (min-width: 1024px) {
  /*lg*/
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-[37px];
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-[26.43px];
  }
  h6 {
    @apply text-sm;
  }
  p {
    @apply text-xs;
  }
  label {
    @apply text-base;
  }
  small {
    @apply text-[11.34px];
  }
}
@media (min-width: 1280px) {
  /*xl*/
  h1 {
    @apply text-[62px];
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-[29px];
  }
  h6 {
    @apply text-sm;
  }
  p {
    @apply text-sm;
  }
  label {
    @apply text-[26px];
  }
  small {
    @apply text-[12.5px];
  }
}
@media (min-width: 1536px) {
  /*2xl*/
  h1 {
    @apply text-[62px];
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-[29px];
  }
  h6 {
    @apply text-base;
  }
  p {
    @apply text-sm;
  }
  label {
    @apply text-[26px];
  }
  small {
    @apply text-[12.5px];
  }
}

.btn {
  @apply font-peyda font-bold text-base border-2 border-green-500 rounded-lg text-green-500 hover:shadow-lg;
}

.btn.btn-primary {
  @apply bg-green-500 text-[#D9F2E2] hover:border-green-500 hover:bg-[#D9F2E2] hover:text-green-500;
}

.btn.btn-outline {
  @apply bg-[#D9F2E2] hover:bg-green-500 hover:text-[#D9F2E2]  border-green-500;
}

.modal::backdrop {
  @apply bg-black opacity-70 fixed;
}
