@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Peyda";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/PeydaWeb-SemiBold.woff2") format("opentype");
}

@font-face {
  font-family: "Peyda";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/PeydaWeb-Bold.woff2") format("opentype");
}

@font-face {
  font-family: "Peyda";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./assets/fonts/PeydaWeb-ExtraBold.woff2") format("opentype");
}

@font-face {
  font-family: "YekanBakh";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/YekanBakh-VF.woff2") format("opentype");
}

@font-face {
  font-family: "RokhFaNum";
  src: url("./assets/fonts/RokhFaNum-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @apply h-full overflow-x-hidden bg-green-50 font-yekan;
}

h1 {
  @apply text-lg tracking-normal text-black font-yekan font-extrabold;
}

h2 {
  @apply text-lg tracking-normal text-black font-yekan font-extrabold;
}

h3 {
  @apply text-sm tracking-normal text-green-500 font-peyda font-bold;
}

h4 {
  @apply text-sm tracking-tight text-black font-peyda font-bold;
}

h5 {
  @apply text-xs tracking-normal text-black font-peyda font-medium;
}

h6 {
  @apply text-xs tracking-normal text-green-100 font-peyda font-extrabold;
}

p {
  @apply text-xs tracking-normal text-primary-darker font-peyda font-medium text-pretty;
}

label {
  @apply text-xs tracking-normal text-black font-peyda font-semibold;
}

small {
  @apply text-[8px] tracking-normal text-primary-darker font-medium;
}

@media (min-width: 375px) {
  /*xs*/
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-lg;
  }
  h3 {
    @apply text-sm;
  }
  h4 {
    @apply text-sm;
  }
  h5 {
    @apply text-xs;
  }
  h6 {
    @apply text-base;
  }
  p {
    @apply text-xs;
  }
  label {
    @apply text-xs;
  }
  small {
    @apply text-[10px];
  }
}
@media (min-width: 550px) {
  /*sm*/
  h3 {
    @apply text-2xl;
  }
}
@media (min-width: 768px) {
  /*md*/
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h4 {
    @apply text-xs;
  }
  h5 {
    @apply text-xs;
  }
  h6 {
    @apply text-sm;
  }
  p {
    @apply text-xs;
  }
  label {
    @apply text-xs;
  }
  small {
    @apply text-[10px];
  }
}
@media (min-width: 1280px) {
  /*xl*/
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
  p {
    @apply text-base;
  }
  label {
    @apply text-sm;
  }
  small {
    @apply text-xs;
  }
}

.btn {
  @apply font-peyda font-bold text-base border-2 border-primary rounded-lg text-primary hover:shadow-lg;
}

.btn.btn-primary {
  @apply bg-primary text-white hover:border-primary hover:bg-white hover:text-primary;
}

.btn.btn-outline {
  @apply bg-white hover:bg-primary hover:text-white border-primary;
}

.modal::backdrop {
  @apply bg-black opacity-70 fixed;
}
